body{

    background-color:#f0f0f0;

    font-family:Arial;

}

/* Card */

.profile-card{

    width:400px;

    background:white;

    margin:auto;

    margin-top:50px;

    padding:25px;

    border-radius:10px;

    text-align:center;

    box-shadow:0px 0px 10px gray;

}

/* Avatar */

#avatar{

    width:150px;

    height:150px;

    border-radius:50%;

    object-fit:cover;

    margin-bottom:15px;

}

/* Info */

#full-name{

    font-size:20px;

    font-weight:bold;

}

#student-id{

    display:none;

}

#email{

    color:gray;

}

/* Links */

.links{

    margin-top:15px;

}

.links a{

    text-decoration:none;

    color:blue;

}

.links a:hover{

    color:red;

}

/* Hobbies */

.hobby-section{

    margin-top:20px;

}

#hobbies{

    list-style:none;

    padding:0;

}

#hobbies li{

    background:#e8e8e8;

    margin:5px;

    padding:8px;

    border-radius:5px;

}